.bcart-container {
  max-width: 430px;
  height: auto;
  margin: 0 auto;


  .bcart-image {
    width: 430px;
    height: 566px;
    object-fit: contain;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .bcart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 0;


    .btitle {
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
    }

    .bprice {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 229px;
      margin-top: 8px;

      .bprice-text {
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
      }

      .bdivider {
        width: 2px;
        height: 27px;
        background-color: #000;
      }

      .brate {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
      }
    }
  }
}